<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Categories
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
<% @categories.each do |category| %>
    <li><%= link_to category.title, category_path(category) %></li>
<% end %>
</ul>
</div>

<% @items.available_items.each do |item| %>
  <p><%= item.title %> | $<%= item.price.to_f/100 %> | <%= button_to 'Add to Cart', line_items_path(item_id: item) unless current_user.nil? %>
<% end %>

